version: '3.8'

services:
  backend:
    build:
      context: ./Backend/demo
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker-localdb
      - SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-ap-south-1.pooler.supabase.com:5432/postgres?prepareThreshold=0
      - SPRING_DATASOURCE_USERNAME=postgres.ohfpikzrzxouynjtjcea
      - SPRING_DATASOURCE_PASSWORD=cong188205..
      - SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=3
      - SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=1
      - SPRING_DATASOURCE_HIKARI_IDLE_TIMEOUT=300000
      - SPRING_DATASOURCE_HIKARI_MAX_LIFETIME=600000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3001:80"
    environment:
      - REACT_APP_API_URL=http://localhost:8080/api
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./Frontend:/app
      - /app/node_modules
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

  redirect:
    image: nginx:1.25-alpine
    container_name: redirect
    ports:
      - "80:80"
    volumes:
      - ./Frontend/redirect.conf:/etc/nginx/conf.d/default.conf:ro
    restart: always